{% extends "base.html" %}

{% load static %}

{% block content %}

<section id="pend-doc">
    <div class="container my-2">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1 pt-2 pb-4">
                <h2 class="text-center mt-2 mb-5"> Sacá turno para la verificación fisica </h2>

                <p> <strong>¡ Tu pago fue registrado exitosamente !</strong> </p>
                <br>
                <p> Para continuar, debés traernos tu vehiculo modificado para realizar la verificación visual.<p>
                <p> El siguiente botón te redireccionará al sistema de turnos.<p>
                <br>
                {% comment %} <div class="d-inline-flex gap-2 align-items-center">
                    <small class="text-muted"> Reservá un turno: </small> 
                    <a href="https://calendly.com/certificaciones-larroca/verificacion-fisica" class="btn btn-success" role="button">Sacar Turno</a>   
                </div>    {% endcomment %} 
                <a href="https://calendly.com/certificaciones-larroca/verificacion-fisica" class="btn btn-success" role="button">Sacar Turno</a>                       
            </div>
        </div>
    </div>

</section>

{% endblock %}