{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
  <form action="{% url 'Doc' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}

    {% for input in form_doc %}
    {% if forloop.counter < 13 %} <div class="form-group">
      <label>{{input.label}}</label>
      {{input}}
      <small class="form-text text-muted"></small>
</div>
{% endif %}
{% endfor %}

<div class="container">
  <div class="row">
    {% for input in form_doc %}
    {% if forloop.counter > 12 %}
    <div class="col">
      <div class="card my-2 d-none" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'CertificationsApp/images/furgon.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{input.label}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          {{input}}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<!--
      <div class="container">
        <div class="row">
          {% for input in form_doc %}
            {% if forloop.counter > 12 %}
              <div class="col">
                <div class="card my-2 d-none" style="width: 18rem;">
                  <img class="card-img-top" src="{% static 'CertificationsApp/images/furgon.jpg' %}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{input.label}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    {{input}}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      -->
<button type="submit" class="btn btn-primary">Enviar documentacion</button>
</form>
</div>
<!--
  <div class="container">    
    <form action="{% url 'Doc' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
    {% for input in form_doc %}
            {% if forloop.counter > 12 %}
              {{input}}
            {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary">PRUEBA</button>     
    </form>
-->
</div>

<script src="{% static 'CertificationsApp/js/formClasses.js' %}"></script>
<script src="{% static 'CertificationsApp/js/cardsLogic.js' %}"></script>
{% endblock %}