{% extends "base.html" %}

{% load static %}

{% block content %}

<section id="doc-forms">
  <div class="container mb-5">
    <!-- Description -->
    <div class="row">
      <div class="col text-center my-2">
        <h2> Completá el siguiente formulario </h2>
        <p> Todos los campos deben ser completados correctamente. Con esta información elaboraremos el informe técnico. </p>
      </div>
    </div>

    <!-- form -->
    <div class="row">
      <div class="col col-md-10 offset-md-1 col-lg-10 offset-lg-1 pt-2 pb-4">
        <form action="
            {% if operation.id != None %}
              {% url 'Rejected_Doc' operation.id %} 
            {% else %}
              {% url 'Doc' %} 
            {% endif %}
            " method="POST" enctype="multipart/form-data"> {% csrf_token %}
          <!-- text fields -->
          <div class="row">
            {% for input in form_doc %}
              {% if forloop.counter < 13 %} 
                <div class="form-group col-12 col-md-6 pb-2">
                  <label>{{input.label}}</label>
                  {{input}}
                  <small class="form-text text-muted"></small>
                </div>
              {% endif %}
            {% endfor %}
          </div>

          <!-- images uploading fields -->
          <div id="cards" class="row">
            {% for input in form_doc %}
              {% if forloop.counter > 12 %}
                <div class="col-12 col-md-6 col-xl-4 pt-3">
                  <div class="card my-2 border-secondary d-none" style="width: 18rem;">
                    <div class="container">
                      <img class="card-img-top" 
                        {% if operation.id != None and input.value != "" %}
                          src="{{input.value.url}}" 
                        {% else %}
                          src="{% static 'CertificationsApp/images/'|add:input.label|add:'.jpg' %}" 
                        {% endif %}
                        alt="Card image cap">
                      <label>Cargar Imagen</label>
                      <div class="overlay"></div>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{input.label}}</h5>
                      <p class="card-text">{{input.help_text}}</p>
                      {{input}}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>

          <!-- send button  -->
          <div class="row">
            <div class="col d-grid gap-2">
              <button type="submit" class="btn btn-primary">Enviar documentacion</button>
            </div>  
          </div>          
        </form>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'CertificationsApp/js/formClasses.js' %}"></script>
<script src="{% static 'CertificationsApp/js/cardsLogic.js' %}"></script>

{% endblock %}