{% extends "base.html" %}

{% load static %}

{% block content %}

Gracias por enviar el formulario con la documentación solicitada.

Nos tomaremos un momento para revisar que esté todo en orden, y te notificaremos por mail para continuar con el siguiente paso.

Mientras tanto, podes cerrar la página ya que tu información quedó guardada.

Aun no recibiste la notificación? AYUDA

La respuesta suele tardar un maximo de 24 hs en dias hábiles. Si ya pasó ese lapso, comunicate con nosotros:
Correo: hermanaGaby@mail.com
Telefono: 11552244

{% endblock %}