{% extends "base.html" %}

{% load static %}

{% block content %}

<section id="pend-doc">
    <div class="container my-2">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1 pt-2 pb-4">
                <h2 class="text-center mt-2 mb-5"> Descarga de certificados </h2>

                <p> <strong> ¡ Felicitaciones ! </strong> <p>

                <p> El tramite se realizó exitosamente. Descargá los siguientes archivos para presentar ante el DNRPA. <p>

                <div id="downloadFrame" class="mt-3 border p-2 border-success rounded">
                    <div id="certificate" class="my-2">
                        <div class="d-flex gap-2 align-items-center justify-content-between">
                            <strong> Certificado COPIME: </strong> 
                            <a href="{% url 'DownloadCertificate' pk=operation.id %}" name="" class="btn btn-success">Descargar</a>   
                        </div> 
                    </div> 
                    
                    <div id="inform" class="mb-2">
                        <div class="d-flex gap-2 align-items-center justify-content-between">
                            <strong> Informe técnico:  </strong>
                            <a href="{% url 'DownloadInform' pk=operation.id %}" name="" class="btn btn-success">Descargar</a>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}