{% extends "base.html" %}

{% load static %}

{% block content %}
    <section id="intro-login">
        <div class="row">
            <div class="col text-center my-2">        
                <h2> ¡ Bienvenido/a ! </h2>
                <p> Para comenzar o continuar con tu trámite, ingresá tus credenciales: </p>
            </div>
        </div>

        <div class="row">
            <div class="col col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 py-2 px-4">
                   <p style="color:red">{{message}} </p> 
                <form action="{% url 'Login' %}" method="POST" id="loginform"> {% csrf_token %}
                    <div class="row">
                            <div class="form-group col-12 pb-2 d-none" id="cuitInput">
                                <label>CUIT</label>
                                <input type="text" name="cuit" id="cuit" >
                                <small class="form-text text-muted"></small>
                            </div>                            
                        {% for input in form_login %}
                            <div class="form-group col-12 pb-2">
                                <label>{{input.label}}</label>
                                {{input}}
                                <small class="form-text text-muted"></small>
                            </div>
                        {% endfor %}
                        <div class="col d-grid gap-2">
                            <button type="submit" class="btn btn-primary">INGRESAR</button>
                        </div> 
                    </div>   
                </form>  
                <p class="mt-4"><small class="form-text text-muted"><span id="caption">¿Sos empresa? hace click </span><a onclick="companyToggle()" href="#"> aqui</a></p>
            </div>

        </div>

    </section>

<script src="{% static 'CertificationsApp/js/formClasses.js' %}"></script>  
{% endblock %}