{% extends "base.html" %}

{% load static %}

{% block content %}

<section id="pend-doc">
    <div class="container my-2">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1 pt-2 pb-4">
                <h2 class="text-center mt-2 mb-5"> Pago en proceso de validación </h2>

                <p> Hubo un error en tu pago =( <p>
                <br>
                <p> Si queres intentar con otro metodo de pago hace click <a href="http://127.0.0.1:8000/pago/19">Aquí</a><p>
                <br><br>               
                       
            </div>
        </div>
    </div>


</section>

<script src="{% static 'CertificationsApp/js/helpModal.js' %}"></script>  

{% endblock %}