{% extends "base.html" %}

{% load static %}

{% block content %}

<section id="pend-doc">
    <div class="container my-2">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1 pt-2 pb-4">
                <h2 class="text-center mt-2 mb-5"> Verificación visual pendiente </h2>

                <p> <strong> ¡ Cita concertada ! </strong> <p>

                <p> Te esperamos para la fecha y hora que elegiste. Te enviaremos recordatorio un dia antes. <p>

                <p> Información de tu turno: <p>

                <div id="shift-data" class="container">
                    <p> <strong> Fecha: </strong> {{ date }} </p>
                    <p> <strong> Horario: </strong> {{ time }} </p>
                </div>

            </div>
        </div>
    </div>

</section>

{% endblock %}