
#doc-forms p{
    background-color: black !important;
}

.card-img-top{
    max-height: 179px !important;
}

.card{
    background-color: black !important;
}

body{
    background-color: black !important;
}

.carta{
    position:relative;
}

.carta .overlay{
    position: absolute; /*Para que el overlay se expanda por todo el alto y ancho*/
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    color:white;
    z-index: 1000; /*Para que se ponga por sobre el texto*/
}

.card-img-top{
    opacity:0.5 !important;
    border-radius: 50%;
}