/* sidebar effect */

:root{
    --shift-nav: 250px;
}

.page-content-wrapper{
    /*margin-left: 250px;*/
    margin-left: var(--shift-nav);
    transition: 0.5s;
    width:100vw; /*Estaba 80*/
}

.sidebar-wrapper{
    /*width: 250px;*/
    width: var(--shift-nav);
    position: fixed;
    margin-left: 0px;
    transition: 0.5s;
}

.hide-nav{
    /*margin-left: -250px;*/
    margin-left: calc(var(--shift-nav) * -1);
}

.expand-cont{
    margin-left: 0px;
    width:100vw;
}

tbody{
    font-size: 13px;
    transition: 0.5s;
}

.expand-font{
    font-size: 15px;
    transition: 0.5s;
}

.nav-link{
    padding: 4px 16px !important;
}

i{
    display:inline-block !important;
    width: 18px;
}

/* tables */

table tbody tr td a img{
    height:20px;
}

.table-hover thead tr:hover th, .table-hover tbody tr:hover td{
    background-color: rgba(228, 64, 113, 0.356) !important;
}

#client-link{
    text-decoration-line: none;
}

.page-content-wrapper{
    height: 90vh;
    overflow: scroll;
}

/* Search bar */

#select2{
    min-width:144px !important;
}

/*
form{
    height: 31px;
}
*/

/* ------Operation details - form ----- */

select{
    width: 100%;
}


/* ---- Operation Details - cards -----*/


/*Setting height of images to standarize cards*/

.card img{
    height: 179px !important;
}

/*Overlay for images*/

.card .container{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    margin:0 !important;
    padding:0 !important;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.6s ease all;
}

/* Changing original input format (Believe me. It was afwul)*/


.card-body input{
    display: none;
}

.card label{
    position: absolute;
    z-index: 100;
}

label[for="id_image1_uploaded"],
label[for="id_image2_uploaded"],
label[for="id_image3_uploaded"],
label[for="id_image4_uploaded"],
label[for="id_image5_uploaded"],
label[for="id_image6_uploaded"],
label[for="id_image7_uploaded"],
label[for="id_image8_uploaded"]{
    cursor: pointer;
    height:100%;
    width:100%;
    transition: 0.5s ease all;
}

label[for="id_image1_uploaded"]:hover ~ .overlay,
label[for="id_image2_uploaded"]:hover ~ .overlay,
label[for="id_image3_uploaded"]:hover ~ .overlay,
label[for="id_image4_uploaded"]:hover ~ .overlay,
label[for="id_image5_uploaded"]:hover ~ .overlay,
label[for="id_image6_uploaded"]:hover ~ .overlay,
label[for="id_image7_uploaded"]:hover ~ .overlay,
label[for="id_image8_uploaded"]:hover ~ .overlay{
    background-color: rgb(0,0,0);
    opacity: .7;
}


/* setting max dimensions in modal preview images*/

#PreviewModal img{
    max-height: 60vh !important;
    max-width: 55vw !important;
}

/* ----------------- APPOINTMENT MODAL ----------------- */

#appointment-modal{
    padding-bottom: 8px !important;
}

.radio-table {
    margin: 10px;
}
    
.radio-table input[type="radio"] {
opacity: 0;
position: fixed;
width: 0;
}

.radio-table td {
    padding: 4px 8px !important;
}

.radio-table label {
    display: inline-block;
    background-color: #ddd;
    padding: 6px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-table label:hover {
background-color: #dfd;
}

/* .radio-table input[type="radio"]:focus + label {
    border: 2px dashed #444;
} */

.radio-table input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}

.radio-table input[type="radio"]:disabled + label {
    background-color: white;
    border: 0px;
    color: gray;
}

@media screen and (max-width: 992px) {
    #PreviewModal img {
        max-width: 100%;
    }
}


/* ACA TRATO DE INTERCAMBIAR EL LABEL DE INPUT CON EL BOTON
.card-body input{
    display: none;
}

.card .card-body .container label{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

label[for="id_image1_uploaded"],
label[for="id_image2_uploaded"],
label[for="id_image3_uploaded"],
label[for="id_image4_uploaded"],
label[for="id_image5_uploaded"],
label[for="id_image6_uploaded"],
label[for="id_image7_uploaded"],
label[for="id_image8_uploaded"]{
    cursor: pointer;
    height:100%;
    width:100%;
    transition: 0.5s ease all;
}

label[for="id_image1_uploaded"]:hover ~ .overlay,
label[for="id_image2_uploaded"]:hover ~ .overlay,
label[for="id_image3_uploaded"]:hover ~ .overlay,
label[for="id_image4_uploaded"]:hover ~ .overlay,
label[for="id_image5_uploaded"]:hover ~ .overlay,
label[for="id_image6_uploaded"]:hover ~ .overlay,
label[for="id_image7_uploaded"]:hover ~ .overlay,
label[for="id_image8_uploaded"]:hover ~ .overlay{
    background-color: rgb(0,0,0);
    opacity: .7;
}
*/