{% extends "base_accounts.html" %}

{% block content %}

    <!-- Main -->
    <div class="container mt-4 mb-5">
      <div class="row text-center">
        <form action="" method="post">
          <div class="col-12 col-md-4 offset-md-4">
            {% csrf_token %} 
            {% if form.email.errors %} 
            {{ form.email.errors }}
            {% endif %}
            <h2>Formulario para cambiar su clave</h2>
            <p>Debe ingresar el correo electrónico que usó al registrarse:</p>
            <p>{{ form.email }}</p>
            <input
              type="submit"
              class="btn btn-primary btn-lg"
              value="Reset password"
            />
          </div>
        </form>
      </div>
    </div>

    <!-- Fin de Main -->

{% endblock %}