{% extends "base_accounts.html" %}

{% load static %}

{% block content %}
    <!-- Main -->
    <div class="container mt-4 mb-5">
      <div class="row text-center">
        <div class="col-12 col-md-4 offset-md-4">
          {% if validlink %}
          <p>Ingrese (y confirme) su nuevo password.</p>
          <form action="" method="post">
            <div style="display: none">
              <input
                type="hidden"
                value="{{ csrf_token }}"
                name="csrfmiddlewaretoken"
              />
            </div>

            {{ form.new_password1.errors }}
            <label for="id_new_password1">Nuevo password:</label>
            {{ form.new_password1 }} 
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirmar password:</label>
            {{ form.new_password2 }}
            <br>
            <input
              type="submit"
              class="btn btn-primary btn-lg"
              value="Cambiar mi password"
            />
          </form>

          {% else %}
          <h1>Error al restablecer el password</h1>
          <p>
            El enlace para restablecer la contraseña no es válido, posiblemente
            porque ya se ha utilizado. Solicite un nuevo restablecimiento de
            contraseña.
          </p>
          {% endif %}
          <p><a href="{% url 'login' %}">Volver</a></p>
        </div>
      </div>
    </div>

{% endblock %}