    <!-- PAGE CONTENT -->
    <div class="page-content-wrapper"> 

        <!-- Title and download button -->
        <div class="container">
            <div class="row my-3">
                <div class="col-8 offset-2">
                    <h3 class="text-center"> Registro de operaciones</h3>
                </div>
                <div class="col-2 d-grid gap-2 d-flex justify-content-end">
                    <button class="btn-sm btn-dark" id="download"> DESCARGAR </button>
                </div>
            </div>
        </div>

        <!-- Search Bar -->
        
        <div id="search-bar" class="container-fluid mb-2">
            <div class="row d-flex align-items-center">
                <!-- show entries -->
                <div class="col-3 d-flex justify-content-start">
                    <div class="gap-2 d-flex">
                        <label>Mostrar</label>
                        <select class="form-select form-select-sm">
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>50</option>
                        </select>
                        <label>entradas</label>
                    </div>
                </div>
                <!-- filters -->
                <div class="col-9 gap-2 d-flex justify-content-end align-items-center">
                    <div class="filter-group gap-2 d-flex">
                        <label>Tabla</label>
                        <select id="select1" class="form-select form-select-sm" onchange="giveSelection(this.value)">
                            <option value="1">Operaciones</option>
                            <option value="2">Clientes</option>
                            <option value="3">Vehiculos</option>							
                        </select>
                    </div>
                    <div class="filter-group gap-2 d-flex">
                        <label>Campo</label>
                        <select id="select2" class="form-select form-select-sm">
                            <option data-option="1">N° Certificado</option>
                            <option data-option="1">Nombre Cliente</option>
                            <option data-option="1">Vehiculo</option>
                            <option data-option="1">Patente</option>
                            <option data-option="1">Estado</option>
                            <option data-option="1">Tipo</option>
                            <option data-option="1">Fecha</option>
                            <option data-option="2">Nombre</option>
                            <option data-option="2">Apellido</option>
                            <option data-option="2">DNI</option>
                            <option data-option="2">Mail</option>
                            <option data-option="2">Telefono</option>
                            <option data-option="3">Marca</option>
                            <option data-option="3">Patente</option>
                        </select>
                    </div>
                    <!-- search field -->
                    <form class="d-flex gap-2">
                        <input id="search-field" class="form-control" type="search" placeholder="Palabra clave" aria-label="Search" oninput="search(this.value)">
                        <button class="btn btn-outline-success d-flex align-items-center">Buscar</button>
                    </form>
                </div>
            </div>   
        </div> 