<!DOCTYPE html>
<html lang="en">
<head>
    <!-- {% load static %} -->
    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles CSS-->
    <link href="{% static 'CertificationsApp/css/dashboardStyles.css' %}" rel="stylesheet">

    <!-- Bootstrap CSS-->
 
    <link href="{% static 'CertificationsApp/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <title>Administrador</title>
</head>

<body>

    <!-- TOP NAV -->
<!-- -->
    <div id="topnav">
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            <div class="container" style="width:250px;">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Panel de Control</a>
                <button class="btn" id="menu-toggle"> 
                    <span class="navbar-toggler-icon"></span>                
                </button>
                <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>-->
            </div>
            <div class="container justify-content-end">
                <ul class="nav">
                    <li class="nav-item visually-hidden back-button">
                        <a class="nav-link" href="#">Volver</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Salir</a>
                    </li>                    
                </ul>
            </div>
        </nav>
    </div>

    {% block content1 %}
    1
    {% endblock %}

    {% block content2 %}
    2
    {% endblock %}

    {% block content3 %}
    3
    {% endblock %}
    <!-- FOOTER -->

    <footer class="footer mt-auto py-2 bg-dark fixed-bottom">
        <div class="container-fluid text-center">
            <small class="text-light"> Aplicación web creada por L.Márquez y H.Monsalvo - &copy 2021 </small>
        </div>
    </footer>

</body>

<!-- Bootstrap JS-->

<script src="{% static 'CertificationsApp/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'CertificationsApp/js/dashboard.js' %}"></script>
</html>