{% extends "table_features.html" %}

{% load static %}

{% block content4 %}
    
    <!-- Table -->

    <div class="row mb-2 ms-1">
      <div class="col">
        <a class="btn btn-success" href="#" id="company-link" onclick="newCompany_modal.toggle()">
          Dar de alta
        </a>
      </div>
    </div>

    <section id="client-table">
      <div class="table-responsive mx-1">
        <table class="table table-sm table-hover table-bordered table-striped">
            <thead class="text-center align-middle bg-secondary bg-gradient bg-opacity-50">
              <tr>
                <th scope="col">Cuit</th>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Estado</th>
                <th scope="col">Modificar</th>
              </tr>
            </thead>
            <tbody class="body">
                {% for com in companies %}
                <tr>
                    <td>{{com.cuit}}</td>
                    <td>{{com.name}}</td>
                    <td>{{com.mail}}</td>
                    <td>{{com.phone}}</td>
                    {% if com.enabled %}
                    <td>Habilitada</td>
                    {% else %}
                    <td>No Habilitada</td>
                    {% endif %}
                    <td>
                      <a href="#" id="fee-link" onclick="updateModal('{{com.cuit}}','{{com.name}}','{{com.mail}}','{{com.phone}}','{{com.enabled}}','{{com.pk}}')">
                          Actualizar
                      </a>
                    </td>

                </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
    </section>

    <div class="modal fade" id="companyModal" tabindex="-1" aria-labelledby="companyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="companyModalLabel">Modificar Empresa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            
                <form action="{% url 'Dashboard:Companies' %}" method="POST">
                {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <label for="companyName" class="col-sm-4 col-form-label">Nuevo nombre:</label>
                            <div class="col-sm-8">
                                <input type="text" name="name" class="form-control" id="companyName" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="companyCuit" class="col-sm-4 col-form-label">Nuevo CUIT:</label>
                            <div class="col-sm-8">
                                <input type="text" name="cuit" class="form-control" id="companyCuit" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="companyMail" class="col-sm-4 col-form-label">Nuevo Email:</label>
                            <div class="col-sm-8">
                                <input type="text" name="mail" class="form-control" id="companyMail" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="companyPhone" class="col-sm-4 col-form-label">Nuevo Teléfono:</label>
                            <div class="col-sm-8">
                                <input type="text" name="phone" class="form-control" id="companyPhone" required>
                            </div>
                        </div>
                        <div class="row my-2">
                          <div class="col d-grid gap-2">
                            <div class="form-check d-flex gap-2">
                              <input class="form-check-input" type="radio" name="choice" id="enabled" value="enabled" required="True">
                              <label class="form-check-label" for="enabled">
                                Habilitada
                              </label>
                            </div>
                            <div class="form-check d-flex gap-2">
                              <input class="form-check-input" type="radio" name="choice" id="disabled" value="disabled" required="True">
                              <label class="form-check-label" for="disabled">
                                No Habilitada
                              </label>
                            </div>
                          </div> 
                        </div> 
                        <input type="hidden" id="company_id" name="id" value="">
                      </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" name="action" value="update">Guardar cambios</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Registration Modal -->

    <div class="modal fade" id="createCompanyModal" tabindex="-1" aria-labelledby="companyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="companyModalLabel">Dar de alta Empresa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            
                <form action="{% url 'Dashboard:Companies' %}" method="POST">
                {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <label for="companyName" class="col-sm-4 col-form-label">Nombre:</label>
                            <div class="col-sm-8">
                                <input type="text" name="name" class="form-control" id="companyName" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="companyCuit" class="col-sm-4 col-form-label">CUIT:</label>
                            <div class="col-sm-8">
                                <input type="text" name="cuit" class="form-control" id="companyCuit"  required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="companyMail" class="col-sm-4 col-form-label">Email:</label>
                            <div class="col-sm-8">
                                <input type="text" name="mail" class="form-control" id="companyMail" required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="companyPhone" class="col-sm-4 col-form-label">Teléfono:</label>
                            <div class="col-sm-8">
                                <input type="text" name="phone" class="form-control" id="companyPhone" required>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" name="action" value="new">Guardar cambios</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

<script src="{% static 'CertificationsApp/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'CertificationsApp/js/companyModal.js' %}"></script>  

{% endblock %}