{% extends "dashboard_base.html" %}

{% load static %}

{% block content1 %}
     
<div id="wrapper" class="d-flex align-items-start">
    <!-- SIDE NAV -->
    <div class="sidebar-wrapper">        
        <div class="nav flex-column nav-pills me-3 bg-dark vh-100" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <u><a class="nav-link disabled text-center" href="#">Tablas</a></u>
            <a class="nav-link" id="v-pills-operation-tab" href="{% url 'Dashboard:Dashboard-operations' %}" role="tab" aria-controls="v-pills-operation" aria-selected="true" onchange="currentTable('operations')">Operaciones</a>
            <a class="nav-link" id="v-pills-client-tab" href="{% url 'Dashboard:Dashboard-clients' %}" role="tab" aria-controls="v-pills-client" aria-selected="false" onchange="currentTable('clients')">Clientes</a>
            <a class="nav-link" id="v-pills-vehicle-tab" href="{% url 'Dashboard:Dashboard-vehicles' %}" role="tab" aria-controls="v-pills-vehicle" aria-selected="false" onchange="currentTable('vehicles')">Vehiculos</a>
            <u><a class="nav-link disabled text-center" href="#">Filtros</a></u>
            <a class="nav-link" id="v-pills-openop-tab" href="{% url 'Dashboard:Dashboard-operations' %}" role="tab" aria-controls="v-pills-openop" aria-selected="false"> Operaciones abiertas</a>
            <a class="nav-link" id="v-pills-penddoc-tab" href="{% url 'Dashboard:Dashboard-operations' %}?stage=Documentacion enviada" role="tab" aria-controls="v-pills-penddoc" aria-selected="false"> Pendientes de revision</a>
            <a class="nav-link" id="v-pills-payconf-tab" href="{% url 'Dashboard:Dashboard-operations' %}?stage=Pago a revisar" role="tab" aria-controls="v-pills-payconf" aria-selected="false"> Pagos a confirmar</a>
            <a class="nav-link" id="v-pills-pendverif-tab" href="{% url 'Dashboard:Dashboard-operations' %}?stage=Verificacion pendiente" role="tab" aria-controls="v-pills-pendverif" aria-selected="false"> Pendientes de verificacion</a>
            <a class="nav-link" id="v-pills-pendcert-tab" href="{% url 'Dashboard:Dashboard-operations' %}?stage=Esperando certificado" role="tab" aria-controls="v-pills-pendcert" aria-selected="false"> Esperando certificado</a>
            <u><a class="nav-link disabled text-center" href="#">Acciones</a></u>
            <a class="nav-link" id="v-pills-search-tab" href="#v-pills-search" role="tab" aria-controls="v-pills-search" aria-selected="false">Buscador</a>
            <a class="nav-link" id="v-pills-fee-tab" href="#v-pills-fee" role="tab" aria-controls="v-pills-fee" aria-selected="false">Modificar tarifas</a>
            <a class="nav-link" id="v-pills-appointments-tab" href="{% url 'Dashboard:Appointments' %}" role="tab" aria-controls="v-pills-vehicle" aria-selected="false" onchange="currentTable('appoinments')">Turnos</a>
            <a class="nav-link" id="v-pills-statistics-tab" href="#v-pills-statistics" role="tab" aria-controls="v-pills-statistics" aria-selected="false">Ver estadisticas</a>
            
        </div>
    </div>

    <!-- PAGE CONTENT -->
    <div class="page-content-wrapper"> 

        <!-- Title and download button -->
        <div class="container">
            <div class="row my-3">
                <div class="col-8 offset-2">
                    <h3 class="text-center"> Registro de operaciones</h3>
                </div>
                <div class="col-2 d-grid gap-2 d-flex justify-content-end">
                    <button class="btn-sm btn-dark" id="download"> DESCARGAR </button>
                </div>
            </div>
        </div>

        <!-- Search Bar -->
        
        <div id="search-bar" class="container-fluid mb-2">
            <div class="row d-flex align-items-center">
                <!-- show entries -->
                <div class="col-3 d-flex justify-content-start">
                    <div class="gap-2 d-flex">
                        <label>Mostrar</label>
                        <select class="form-select form-select-sm">
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>50</option>
                        </select>
                        <label>entradas</label>
                    </div>
                </div>
                <!-- search field -->
                <div class="col-9 gap-2 d-flex justify-content-end align-items-center">                    
                    <form class="d-flex gap-2">
                        <label> Buscar: </label>
                        <input id="search-field" class="form-control" type="search" placeholder="Palabra clave" aria-label="Search" oninput="search(this.value)">
                        <button class="btn btn-outline-success d-flex align-items-center">Buscar</button>
                    </form>
                </div>
            </div>   
        </div> 
        <script src="{% static 'CertificationsApp/js/tabs.js' %}"></script>
{% endblock %}
        
{% block content2 %}

{% endblock %}        
