<!DOCTYPE html>
<html lang="en">
<head>
    <!-- {% load static %} -->
    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/gif" href="{% static 'CertificationsApp/images/motorhome4.png' %}">

    <!-- Custom CSS-->
    <link href="{% static 'CertificationsApp/css/dashboardStyles.css' %}" rel="stylesheet">
    <link href="{% static 'CertificationsApp/fontawesome/css/all.css' %}" rel="stylesheet">

    <!-- Bootstrap CSS-->
 
    <link href="{% static 'CertificationsApp/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Bootstrap JS-->

    <script src="{% static 'CertificationsApp/bootstrap/js/bootstrap.min.js' %}"></script>
    
    <title>Administrador</title>
</head>

<body>

    <!-- TOP NAV -->
<!-- -->
    <div id="topnav">
        <nav class="navbar navbar-dark sticky-top bg-dark flex-nowrap p-0 ">
            <div class="container" style="width:250px;">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Panel de Control</a>
                <button class="btn" id="menu-toggle"> 
                    <span class="navbar-toggler-icon"></span>                
                </button>
                <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>-->
            </div>
            <div class="container justify-content-end">
                <ul class="nav d-flex flex-row">
                    <li class="nav-item visually-hidden back-button">
                        <a class="nav-link px-2 px-sm-4" href="{% url 'Dashboard:Operations' %}"> <i class="fas fa-arrow-circle-left"></i> <span class = "d-none d-sm-inline-block"> VOLVER </span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2 px-sm-4" href="{% url 'logout' %}"><i class="fas fa-door-open"></i> <span class = "d-none d-sm-inline-block"> SALIR </span></a>
                    </li>                    
                </ul>
            </div>
        </nav>
    </div>

    {% block content1 %}

    {% endblock %}

    {% block content2 %}

    {% endblock %}

    {% block content3 %}

    {% endblock %}

    {% block content4 %}

    {% endblock %}
    <!-- FOOTER -->

    <footer class="footer mt-auto py-2 bg-dark fixed-bottom">
        <div class="container-fluid text-center">
            <small class="text-light"> Creado por L.Márquez y H.Monsalvo - &copy 2021 </small>
        </div>
    </footer>

</body>

<script src="{% static 'CertificationsApp/js/dashboard.js' %}"></script>
<script src="{% static 'CertificationsApp/js/responsive.js' %}"></script>

</html>