{% extends "dashboard_base.html" %}

{% load static %}

{% block content1 %}
  <section id="operationDetail">
    
    <div class="accordion mb-5" id="Detail">

      <!-- DOCUMENTATION UPLOADED  -->

      <div class="accordion-item">
        <h2 class="accordion-header" id="doc-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <img src="https://img.icons8.com/nolan/64/client-management.png"/> <h5>Documentación cargada</h5>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <!-- form -->
            <div class="row">
              <div class="col col-md-10 offset-md-1 col-lg-10 offset-lg-1 pt-2 pb-4">
                <form action="{% url 'Dashboard:OperationDetail' pk=operation.id %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                
                  <!-- text fields -->
                  <div class="row">
                    {% for input in form_doc %}
                      {% if forloop.counter < 13 %} 
                        <div class="form-group col-12 col-md-4 pb-2">
                          <label>{{input.label}}</label>
                          {{input}}
                          <small class="form-text text-muted"></small>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>

                  <!-- images uploaded -->
                  <div class="row">
                    {% for input in form_doc %}
                      {% if forloop.counter > 12 and input.value != "" %}
                        <div class="col-12 col-md-6 col-xl-4 pt-3">
                          <div class="carta card my-2 border-secondary opacity-50" style="width: 18rem;">
                            <div class="container">
                              <img class="card-img-top" src="{{input.value.url}}" alt="Card image cap">
                              <label></label>
                              <div class="overlay"></div>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{input.label}}</h5>
                              {{input}}
                              <a href="#!" class="btn btn-danger" onclick="rejectImage({{forloop.counter}})"> Rechazar Foto </a>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>

                  <!-- approvation choice  -->
                  <div class="row my-2">
                    <div class="col d-grid gap-2">
                      <div class="form-check d-flex gap-2">
                        <input class="form-check-input" type="radio" name="choice" id="flexRadioDefault1" value="approved" required="True">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Aprobar documentación
                        </label>
                      </div>
                      <div class="form-check d-flex gap-2">
                        <input class="form-check-input" type="radio" name="choice" id="flexRadioDefault2" value="rejected" required="True">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Rechazar documentación
                        </label>
                      </div>
                    </div> 
                  </div> 
                  <input type="hidden" name="rejectedImages" id="rejectedImages">
                  <!-- send button  -->
                  <div class="row">
                    <div class="col d-flex justify-content-around">
                      <a href="{% url 'Dashboard:Dashboard-operations' %}" class="btn btn-warning">Descartar cambios</a>
                      <button type="submit" class="btn btn-success">Guardar cambios</button>
                    </div> 
                  </div> 
                </form>
              </div>
            </div>              
          </div>
        </div>
      </div>

      
      <!-- PAYMENT  -->
       
      <div class="accordion-item">
        <h2 class="accordion-header" id="payment-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <img src="https://img.icons8.com/nolan/64/truck.png"/> <h5>Estado de pago</h5> 
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <div class="row">
              <div class="col-4"><h6>Estado del pago:</h6> 
                <strong>
                  {% if not operation.paid_at and not operation.paid_by%}
                    Pago Pendiente
                  {% elif operation.paid_by == "Transferencia Bancaria" %}
                    {% if not operation.paid_at %}
                      Pago por transferencia bancaria a VERIFICAR
                      <form action="{% url 'Dashboard:Check-payment' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="op_id" value="{{operation.id}}">
                        <input type="hidden" name="approved" value="true">
                        <button type="submit" class="btn btn-success">CONFIRMAR PAGO</button>
                      </form>
                      <a href="#" class="btn btn-danger" onclick="messageModal()">RECHAZAR PAGO</a>
                    {% else %}
                      Pago efectuado el {{operation.paid_at}} Mediante Transferencia Bancaria
                    {% endif %}
                  {% else %}
                    Pago efectuado el {{operation.paid_at}} Mediante Mercado Pago via {{operation.paid_by}} por un total de ${{operation.paid_amount}}
                  {% endif %}
                </strong>
              </div>
            </div>
        </div>
      </div>

      <!-- APPOINTMENT SCHEDULE  -->


      <!-- INFORM  -->
      <div class="accordion-item">
        <h2 class="accordion-header" id="inform-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <img src="https://img.icons8.com/nolan/64/moleskine.png"/> <h5>Generación de informe</h5>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row">
              <div class="col-4"><h6>Nº: <strong>{{operation.certificate_number}}</strong></h6></div>
              <div class="col-4"><h6>Estado: <strong>{{operation.stage}}</strong></h6></div>
              <div class="col-4"><h6>Modificacion: <strong>{{operation.original_type}}->{{operation.final_type}}</strong></h6></div>
            </div> 
          </div>
        </div>        
      </div>

      <!-- CERTIFICATE  -->

      <div class="accordion-item">
        <h2 class="accordion-header" id="certificate-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <img src="https://img.icons8.com/nolan/64/moleskine.png"/> <h5>Certificado</h5>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="row">
              <div class="col col-md-8 offset-md-2 col-lg-8 offset-lg-2 pt-2 pb-4">
                <form action="{% url 'Dashboard:Certificate' %}" method="POST" enctype="multipart/form-data"> 
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="formFile" class="form-label"> Cargar certificado</label>
                    <input class="form-control" type="file" name="certificateInput" id="formFile">
                  </div>
                  <div class="col d-flex justify-content-around">
                    <a href="{% url 'Dashboard:Dashboard-operations' %}" class="btn btn-warning">Cancelar</a>
                    <input type="hidden" name="op_id" value="{{operation.id}}">
                    <button type="submit" class="btn btn-success">Guardar cambios</button>
                  </div>  
                </form>
              </div>
            </div>
          </div>
        </div>        
      </div>

    </div>   <!-- End Accordion -->

  </section>
 
  <!-- MODAL PAYMENT -->
  <div class="modal fade" id="MessageModal" tabindex="-1" aria-labelledby="MessageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="MessageModalLabel">PAGO POR TRANSFERENCIA</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'Dashboard:Check-payment' %}" method="POST">
              {% csrf_token %}
              <div class="modal-body">
                <input type="hidden" name="op_id" value="{{operation.id}}">
                <input type="hidden" name="approved" value="false">
                <input type="text" name="title">
                <input type="number" name="amount" value=0  min=0 max={{operation.final_type.fee}} required="true">
                <textarea name="body" cols="30" rows="10"></textarea>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-danger">Rechazar</button>
              </div>
            </form>
        </div>
    </div>
  </div>

  <script src="{% static 'CertificationsApp/js/cardsLogic.js' %}"></script>
  <script src="{% static 'CertificationsApp/js/operationDetail.js' %}"></script>
  <script src="{% static 'CertificationsApp/js/formClasses.js' %}"></script> 

{% endblock %}
