{% extends "table_features.html" %}

{% load static %}

{% block content4 %}

    <!-- Table -->

    <section id="operation-table">
      <div class="table-responsive mx-1">
        <table class="table table-sm table-hover table-bordered table-striped">
            <thead class="text-center align-middle bg-secondary bg-gradient bg-opacity-50">
              <tr>
                <th scope="col">Detalle</th>
                <th scope="row">Nº certificado</th>
                <th scope="col">Cliente</th>
                <th scope="col">Titular</th>
                <th scope="col">Vehiculo</th>
                <th scope="col">Patente</th>
                <th scope="col">Estado</th>
                <th scope="col">Modificacion</th>
                <th scope="col">Inicio tramite</th>
              </tr>
            </thead>
            <tbody class="body">
                {% for op in operations %}
                <tr>
                    <td class="text-center"><a href="{% url 'Dashboard:OperationDetail' op.id %}">
                        <img src="https://img.icons8.com/emoji/48/000000/magnifying-glass-tilted-right-emoji.png"></a>
                    </td>
                    <td>{{op.certificate_number}}</td>
                    {% if op.company %}
                    <td>{{op.company.name}}</td>
                    {% else %}
                    <td> </td>
                    {% endif %}
                    <td>
                        <a id="client-link" href="#" onclick="clientModal('{{op.id_vehicle.owner.name}}',
                            '{{op.id_vehicle.owner.surname}}', '{{op.id_vehicle.owner.mail}}',
                            '{{op.id_vehicle.owner.phone}}', '{{op.id_vehicle.owner.id_number}}')">
                            {{op.id_vehicle.owner.name}} {{op.id_vehicle.owner.surname}}
                        </a>
                    </td>
                    <td>{{op.id_vehicle.brand}} {{op.id_vehicle.model}}</td>
                    <td>{{op.id_vehicle.domain}}</td>
                    <td>{{op.stage}}</td>
                    <td>{{op.original_type}}-->{{op.final_type}}</td>
                    <td>{{op.registrated_at}}</td>
                </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
    </section>

    <!-- Modal -->
    
    <div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="clientModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clientModalLabel">Detalle Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <div class="col-4">
                            <label class="col-12 col-form-label d-flex justify-content-end">Nombre:</label>
                            <label class="col-12 col-form-label d-flex justify-content-end">Apellido:</label>
                            <label class="col-12 col-form-label d-flex justify-content-end">DNI:</label>
                            <label class="col-12 col-form-label d-flex justify-content-end">Email:</label>
                            <label class="col-12 col-form-label d-flex justify-content-end">Teléfono:</label>
                        </div>
                        <div class="col-8">
                            <label class="col-12 col-form-label"><span id="name"></span></label>
                            <label class="col-12 col-form-label"><span id="surname"></span></label>
                            <label class="col-12 col-form-label"><span id="id_number"></span></label>
                            <label class="col-12 col-form-label"><span id="email"></span></label>
                            <label class="col-12 col-form-label"><span id="phone"></span></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="{% static 'CertificationsApp/js/clientModal.js' %}"></script> <!--  CAMBIAR POR modals.js -->

{% endblock %}